<!-- <p>login works!</p> -->

<div class="row  ">
  <div class="col-3"></div>
  <div class="col-6 border border-3 border-dark ms-5 me-5 rounded-5 ">

    <div class="text-center">
      <div class="container"><br><br><br>

        <h3>Restaurant Login</h3>

        <h5> Free to Login</h5>
        <hr>
    </div>

      </div>
      <br>
      <form [formGroup]="loginForm">
        <div class=" mb-3 ">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div *ngIf="this.loginForm.get('email')?.touched&&this.loginForm.get('email')?.errors" style="color:red;">
          Invalid email</div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="pswd" class="form-control" id="exampleInputPassword1">
        </div><br>
        <div *ngIf="this.loginForm.get('pswd')?.touched&&this.loginForm.get('pswd')?.errors" style="color:red;">
          Incorrect password</div>


        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-dark" type="button" (click)="login()">Login</button><br>
        </div>
      </form>
      <div class="text-center">
        <a class="link" style='text-decoration:none;' routerLink="/signup">New User? Click to Signup</a>
      </div><br>
    <div class="col-3"></div>
  </div>