
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     <a class="navbar-brand fs-3" routerLink="">FoodZone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" >
          <li class="nav-item">
            <a class="nav-link " routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/contact" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>















<div class="container mt-5 mb-5">
    <div class="para">
    <i>
        <h1 class="text-center head1">About</h1><br>
        <b><p class="text-center paragraph">People who love to eat are always the best people. To eat is a necessity, but to eat
            intelligently is an art.
            We all eat, an it would be a sad waste of opportunity to eat badly. If you really want to make a friend, go
            to someone's house and eat with him...the people who give you their food give you their heart.
            If something tastes better than you expected, you could use the word wow to express your surprise. If you
            say
            something tastes amazing, you're saying it tastes even better than great or really good. Wow, this pasta
            salad
            is amazing.
            A well-prepared delectable meal with great presentation and an interesting flavor I've never experienced
            before.This was a meal that I can compare to ambrosia, the food of the gods. I'd highly recommend it to
            anyone..A food is something that provides nutrients. Nutrients are substances that provide: energy for
            activity,
            growth, and all functions of the body such as breathing, digesting food, and keeping warm materials for the
            growth and repair of the body, and for keeping the immune system healthy.From an economic perspective, food
            is
            an essential input to ensure a society can produce goods and services. It is also a main provider of jobs to
            any
            economy and drives consumption.Food is often used as a means of retaining their cultural identity. People
            from different cultural backgrounds eat different foods. The areas in which families live and where their
            ancestors originated influence food like and dislikes.Food affects international relations in the form of
            trade in an increasingly global market. It involves breeders, farmers, the supply chain and transportation,
            food safety, manufacturers, scientists, researchers, sales and marketing, graphic designers, engineers,
            nutritionists, and celebrities, to name a few.
        </p></b><br>
        <img src="../../../assets/pictures/imgs.jpg" width="100%">
    </i>
</div>

</div> 

<div class=" container-fluid footer mt-5">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Foodzone</h1>
            <p>GOOD FOOD,GOOD EAT</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2  mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>