<!-- <app-search></app-search> -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    </svg> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
         <a class="navbar-brand fs-3" routerLink="">FoodZone</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" >
              <li class="nav-item">
                <a class="nav-link " routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/menu" routerLinkActive="active-link">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/contact" routerLinkActive="active-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>








<div class="banner">
<!-- <div class="butt text-end ">
    <button class="logins mt-3 me-2" routerLink="login"><i class="fa-regular fa-circle-user"></i>Login</button>
</div> -->

    <div class="content">
     <!-- <i class="fa-regular fa-circle-user"></i>Login -->
     
    
        <h1>TASTE THE BEST <br>IT'S ON TIME.</h1><br>
        <a routerLink="menu">ORDER NOW<i class="bi bi-arrow-right"></i></a>
    </div>

</div>
<!-- step -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to get<span class="highlight ps-2">Fresh food</span></h1>
 
    <div class="row mt-5">
        <!-- one -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>1</h1>
                <p>Select food</p>
            </div>
        </div>
        <!-- two -->

        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>2</h1>
                <p>Fill the details</p>
            </div>
        </div>
        <!-- 3 -->
        <div class="col-lg-4 mt-2">
            <div class="stepbox">
                <h1>3</h1>
                <p>Your order delivered in minute</p>
            </div>
        </div>



    </div>
</div>

<!-- foodbox -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers<span class="highlight ps-2"> Favourites Food</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3 "   *ngFor="let api of apis">
        <div class="foodbox">
            <img src="{{api.imageUrl}}" alt="api images"/>
        <!-- <h1>{{fd.foodName}}</h1> -->
        <!-- <p>{{fd.foodPrice | currency:'INR'}}</p> -->
        </div>
    </div>
</div>
<br>
<a routerLink="menu" class="viewmorbtn">View more<i class="bi bi-arrow-right"></i></a>
<!-- </div> -->


           <!-- footer -->
<div class=" container footer mt-5">
    <div class="row">
        <!-- name -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Foodzone</h1>
            <p>GOOD FOOD,GOOD EAT</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2  mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>

<!-- header -->
