/* .card{
    margin-top: 15px;
    border:1px solid black;
    width: 550px;
    padding:45px;
    position:absolute;
     top: 6%; 
    left:30%;
    border-width: 4px;
    border-radius: 30px;
    padding-top:20px;

} */
.link{
    text-align: center;
}
